body {
    font-family: 'Open Sans', sans-serif;
    direction: rtl;
    text-align: right;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

header, nav, main, footer {
    padding: 20px;
    margin: 10px;
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.logo {
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    color: #18bc9c;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #34495e;
}

.service, .card {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    background-color: #ecf0f1;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.service:hover, .card:hover {
    background-color: #d1e9ff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

button {
    background-color: #18bc9c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #16a085;
}

form label {
    display: block;
    margin-top: 10px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    margin-top: 10px;
}

/* הנפשות */
.card, .service {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
